*{
	margin:0;
}

html, body{
	height: 100%;

}

body{
  margin:0 auto;
  background-color: #dcdcdc;
  font-family: 'Roboto', sans-serif;
  color:rgb(223, 10, 24);

}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;/*-4em*/
}

.push{
	height: 2em;
	clear: both;
}

footer {
	height: 7em;	
}

#container{
   	height:550px;
    text-align: center;
}

header{

  background-color: #232323;
  font-size: 14px;
   margin: 0px;
   top:0px;
   width: 100%;
}


h1{
  margin-left: 25px;
  text-align:left;
  width:60%;
  padding:10px 0px 10px 10px;
}

nav{
	float: right;
	position: absolute;
	right: 10px;
	top:0px;
	margin-top: 1em;
}

nav li{
	display: inline;
	list-style: none;
	text-align: center;
	margin:0 25px;
}

nav ul{
	padding: 0px;
	text-decoration: none;
	color: white;
	font-size: 18px;
	list-style: none;
}

nav a{
	text-decoration: none;
	color:white;
}

nav a:hover{
	color:rgb(223, 10, 24);;
}

/* index page overlay*/

#under{
	  height:100%;
	  width:100%;
	  background: url('imgs/restaurants.png') center center no-repeat;
	  background-size: cover; 
	  position: relative;
}

#under::before {
   		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,.7);
		opacity: 1.5; 
		/*height:100%;*/
 }

/* end overlay*/

#main{
	position: relative;
	bottom: 50%;
}

#main h2{
	color:white;
	font-weight: lighter;
	font-size: 40px;
	display: inline;
}
#line{
	border-top: 3px solid rgb(223, 10, 24);
	width: 226px;
	margin: 6px auto;
}


header{
	background-color: #232323;
	font-size: 14px;
	margin: 0px;
	top:0px;
	width: 100%;
}

#band, footer{
	background-color:  #232323;
	color: #dcdcdc;
}

#band h2 {
	margin: 0px;
	text-align: center;
	font-size: 25px;
	letter-spacing: .5px;
	padding: 10px;
	line-height: 32px;
}
/*begin index content*/

#sect2{
	background-color: #dcdcdc;
	margin:20px 20px;
	color: #dcdcdc;
	line-height: 175%;
	height: 100%;
	min-width: 900px;
}
 /*columns*/
#col_wrap{
	margin:0 auto;

}
.col{
	float: left;
	margin: 0px 3.0%;
	width: 27%;
	background-color: #dcdcdc;
	text-align: justify;
	color: #232323;
}

.col img {
	margin-top: 5%;
	width: 100%;
	border-radius: 100%;
	border:1px solid #dcdcdc;
}

.col_para{
	min-height:290px;
	margin: 16px 0px;
}


#dad_link{
	clear: both;
}

#dad_link a {
  background-color: white;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
  text-decoration: none;
  color: #232323;
  float: left;
  margin: 0px 12% 0 12%;
  width: 7%;
  text-align: center;

}

footer p{
	display: inline-block;
	width: 70%;
	margin-top: 16px;
	margin-left: 25px;
	font-size: 18px;
}

.icons{
	float: right;
	margin-top: 16px;
	margin-right: 25px;
	padding-left: 10px;
	color:rgb(223, 10, 24);
}

.fa{
	padding-left: 3px;
	padding-right: 3px;
}
/*
services page*/
.content_wrapper{
	width: 800px;
	margin: 3em auto;
	color:#232323;
}


aside{
	float: right;
	width: 50%;
}


#services{
	float: left;
  	width: 43%;
  	font-size: 25px;
}

#services_list{
	margin-left: 0px;
	margin-top: 15px;
	font-size: 25px;
}

#services_list li{
	padding: 8px 0;

}

.fa-chevron-right{
	margin-right: 8px;
	color:rgb(223, 10, 24);
}

aside h2, #services h2{
	font-size: 35px;
}

aside{
	background-color: #232323;
	color:  #dcdcdc;
}

aside h2, aside ul{
	padding: 10px;
}


aside ul li{
	margin: 30px 0px;
	list-style: none;
}

aside h2, aside ul {
  padding: 10px;
}

aside .push{
	height: 4em;
}


/*gallery page*//*
	make images much larger!!*/

.gal_wrapper{
  	width:720px;
  	margin: 0 auto;

  }

.entry{
	width:220px;
	float: left;
	background-color: #232323;
	margin: 30px 10px 10px 10px;
	height: 198px;
	background-position: bottom;
	-webkit-box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
  	-moz-box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
 	box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
  }


  figure{
	display: block;
	width: 202px;
	height: 170px;
	background-color: #232323;
	margin: 0px;
	padding: 9px;
	text-align: left;
  }

  figure img{
  	width:200px;
  	height:150px;
  }

  figcaption{
  	/*padding-left: 20px;*/
  	color: #dcdcdc;
  }

#contact_form, #email_preview, #preview{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	padding: 25px 10px 25px 10px;
	color:#232323;
}

#contact_form, #email_preview {	
	background-color: white;
	-webkit-box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
  	-moz-box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
}

#contact_form h2{
	font-size: 24px;
	font-weight: bold;
	padding: 20px 0px 20px 40px;
	color:#232323;
	margin: -30px -30px 10px -30px;
}

#contact_form p{
	margin: 15px 15px;
}

#contact_form p input{
	float: right;
	margin-right: 40%;
	width: 40%;
	color:#232323;
	border-style: none;
	border: 1px solid #232323;
}

textarea, label{
	margin: 0 15px;
}
textarea{
	border-style: none;
	border: 1px solid #232323;
}

.text_area{
	border-color: rgb(223, 10, 24);
}

.center_button{
	text-align: center;
	margin-top: 20px;
}


@media all and (max-width: 840px){

h1{
	margin:0 auto;
	display: block;
	text-align: center;
	}

nav{
	float: none;
	position: static;
	text-align: center;
}

nav ul{
	padding-bottom: 10px;

}

/*triangle tab thing:

::after;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-bottom: 6px solid #f4f4f4;
border-top: none;
height: 0;
width: 0;
bottom: 0;
content: "";
left: 50%;
margin-left: -5px;
position: absolute;;*/